extends ../layout

block content
  .col-md-4.col-md-offset-4
    h1 Login Page
    if message.length > 0
      .alert.alert-danger= message
    p.lead Please fill in the login form.
    br
    form(role='form', action="/login", method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-primary(type='submit') Submit
      | &nbsp;
      a(href='/')
        button.btn.btn-warning(type="button") Cancel
