extends ../layout

block content
  script(src='/bower_components/crypto-js/crypto-js.js')
  script(src='/javascripts/register.js')
  .row
    .col-md-2
      input.form-control(type='password', name="mpassword", placeholder='Password')
    .col-md-2
      button.btn.btn-info.btn-enable(type="button") Enable registration
  .row
    .col-md-4.col-md-offset-4
      h1 Register Page
      if message.length > 0
        .alert.alert-danger= message
      p.lead Please fill in the registration form.
      br
      form(role='form', action="/register", method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='text', name="username", placeholder='Enter Username')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password')
        .form-group
          select.form-control(id="role", name="role")
            each role, index in roles
              option= role
        button.btn.btn-default(type='submit') Submit
        | &nbsp;
        a(href='/')
          button.btn.btn-primary(type="button") Cancel
