extends layout

block content
  script(src="/javascripts/main.js")
  
  if (user)
    p You are currently logged in as #{user.username} with role #{user.role}
  .card
    .card-header
      h3 Click on a device to toggle status
    .card-body
      .list-group
        each val in data
          a.list-group-item.list-group-item-action(href='#')= val
  #myModal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          h4.modal-title Modal Header
        .modal-body
          p.msg Some text in the modal.
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close