extends ../layout

block content
  //- own javascript files
  script(src="/javascripts/main.js")
  p Welcome to #{title}
  if (user)
    p You are currently logged in as #{user.username} with role #{user.role}