extends ../layout

block content
  .container
    h1 Register Page
    p.lead Please fill in the registration form.
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default.btn-raised(type='submit') Register
      | &nbsp;
      a(href='/')
        button.btn.btn-primary.btn-raised(type="button") Cancel
